<%= form_with(url: search_words_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "調べたい言葉を入力", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <div class="contents_row">
    <p class="index-title"><span>登録単語一覧</span></p>
    <div class="word-contents">
      <% @words.each do |word| %>
        <p><%= link_to word.english, word_path(word.id), method: :get, class: "word-index" %></p>
      <% end %>
    </div>
  </div>
</div>