<%= render "search_form" %>
<div class="contents row">
  <div class="contents_row">
    <p class="index-title"><span>登録単語一覧</span></p>
    <div class="word-contents">
      <% @words.each do |word| %>
        <p><%= link_to word.english, word_path(word.id), method: :get, class: "word-index" %></p>
      <% end %>
    </div>
  </div>
</div>