<div class="contents row">
  <p class="squareColumn">英語</p>
  <b class="word-english"><%= @word.english %></b>
  <p class="squareColumn">日本語</p>
  <b class="word-japanese"><%= @word.japanese %></b>
  <p class="squareColumn">備考</p>
  <p class="word-remarks"><%= @word.remarks %></p>
</div>